In [1]:
print("Welcome to my Python World")

Welcome to my Python World

In [ ]:
Introduction to variables in Python

In [24]:
x = 5
y = 8
x+y

13

In [ ]:
Rules for declaring the variables in Python:

In [ ]:
1. Rule1: No Namespace while declaring the variable names in python.

In [4]:
first name = 'harish'  #invalid syntax
print(first name)

SyntaxError: invalid syntax (<ipython-input-4-c5995cd6ec8a>, line 1)

In [6]:
first_name = 'Harish'  #valid syntax
print(first_name)

Harish

In [8]:
firstname = 'Harish Kumar'  #valid syntax
print(firstname)

Harish Kumar

In [ ]:
# Rule No 2: Variable name should not start with the number  **

In [9]:
1name = 'Rahul'
print('1name')

SyntaxError: invalid syntax (<ipython-input-9-28f592c1a82b>, line 1)

In [11]:
name1 = 'Rahul'
print(name1)

Rahul

In [ ]:
Rule no 3: variable name not contain any special charecters.
    Special Charecters : @%$&.....

In [12]:
name@ = 'ravi'
print('name@')

SyntaxError: invalid syntax (<ipython-input-12-a5f28ae69567>, line 1)

In [ ]:
# Introduction to datatypes in Python 
1. String 
2. Numbers  ----> integers and floats(decimals)
3. List
4. Tupple
5. Dictionary

In [ ]:
# Classification of datatypes: 
    datatypes are classified in to 2 categories:
        1. Mutable datatypes  ....> which we can edit or alter once it has been declared
        2. Immutable datatypes ....> we will not be having the access to edit the datatypes here.

In [ ]:
### Note: **** Python is a case sensitive language ***

In [ ]:
#for commenting the lines in python we have to use #

In [ ]:
#Introduction to string datatype:
Defination: A string is nothing but series of characters enclosed in quotes.
Classification: it is considered as an immutable datatype
    
    how do you define a string?
    
    single quotes
    double quotes
    triple quotes

In [13]:
name = 'ganesh' #single quotes
print(name)

ganesh

In [16]:
name2 = "sirini" #double quotes
print(name2)

sirini

In [18]:
name3 = """rahul""" #triple quotes
print(name3)

rahul

In [ ]:
string ---> str ----------- #short form is str

In [ ]:
#how to confirm and validate the datatype

In [ ]:
introduction to string methods:

In [21]:
type(name)

str

In [22]:
type(name2)

str

In [23]:
type(name3)

str