In [ ]:
Introduction to list datatype:

In [ ]:
Defination : A list is a collection of items in a particular order.

classification : it is classified as a mutable datattype
    
how to define a list datatype ..? ------> []

In [5]:
students = ['guna','sidhant','chandra','gagan','kranthi','javed']
print(students)

['guna', 'sidhant', 'chandra', 'gagan', 'kranthi', 'javed']

In [6]:
print(students)

['guna', 'sidhant', 'chandra', 'gagan', 'kranthi', 'javed']

In [7]:
type(students)

list

In [ ]:
introduction to indexing : 0,1,2,3 .............

In [ ]:
# how to access the elements from the list

In [ ]:
# Req: i want to access sidhant name in the output....

In [8]:
print(students[1])

sidhant

In [10]:
print(students[1].title())

Sidhant

In [9]:
print(students)

['guna', 'sidhant', 'chandra', 'gagan', 'kranthi', 'javed']

In [ ]:
#1. how to add new element to the list
#2. how to modify the elements from the list 
#3. how to delete the elements from the list

In [ ]:
#1. how to add new element to the list

In [ ]:
#Req: I want to add shabana to the list ......!

In [12]:
students.append('shabana')

In [13]:
print(students)

['guna', 'sidhant', 'chandra', 'gagan', 'kranthi', 'javed', 'shabana', 'shabana']

In [ ]:
#req: i want to add 'ayush' to the above list ....?

In [15]:
students.append('ayush')

In [16]:
print(students)

['guna', 'sidhant', 'chandra', 'gagan', 'kranthi', 'javed', 'shabana', 'shabana', 'ayush']

In [ ]:
#req: i want to add 'malayadri' to the above 2nd index in the list ......!

In [17]:
students.insert(2,'malayadri')

In [18]:
print(students)

['guna', 'sidhant', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'shabana', 'shabana', 'ayush']

In [19]:
del students[7]
print(students)

['guna', 'sidhant', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'shabana', 'ayush']

In [ ]:
#2. how to modify the elements from the list 
#Req: i want to modify 'sidhant' name to 'saurabh'

In [20]:
print(students)

['guna', 'sidhant', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'shabana', 'ayush']

In [22]:
students[1] = 'saurabh'

In [23]:
print(students)

['guna', 'saurabh', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'shabana', 'ayush']

In [ ]:
#3. how to delete the elements from the list

In [ ]:
#req: I want to delete shabana name from the list

In [24]:
#students = ['guna','saurabh','malyadri','chandra','gagan','kranthi','javed','ayush']
print(students)

['guna', 'saurabh', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'shabana', 'ayush']

In [25]:
del students[7]
print(students)

['guna', 'saurabh', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'ayush']

In [28]:
students.append('harish')
print(students)

['guna', 'saurabh', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'ayush', 'harish', 'harish']

In [29]:
del students[9]
print(students)

['guna', 'saurabh', 'malayadri', 'chandra', 'gagan', 'kranthi', 'javed', 'ayush', 'harish']

In [30]:
del students[6]
print(students)

['guna', 'saurabh', 'malayadri', 'chandra', 'gagan', 'kranthi', 'ayush', 'harish']